body{
    text-align: center;
    font-family: "poppins",sans-serif;
    margin: 50px;
}
button{
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 2rem;
    margin-top: 20px;
}